/* Main Navigation */
.main-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

}


.main-nav ul li {
    font-weight: 600;
    padding-right: 1px;
}

.main-nav ul li a {
    text-decoration: none;
    color: rgb(37, 140, 201) !important;
}

.main-nav ul li a:hover {
    color: rgb(72, 1, 51) !important;
    text-decoration: solid;
    font-weight: lighter;

}

header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Right Navigation */
.right-nav ul {
    list-style-type: none;
    margin: 0;
}

.right-nav ul li {
    /* font-weight: 600; */
}

.right-nav ul li a {
    text-decoration: none;
    color: rgb(17, 77, 65) !important;
    font-size: 0.8rem;
}

.right-nav ul li a:hover {
    font-weight: bold;
}


/* General Body Styles */
body {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;

}

/* Images */
body img {
    display: block;
    height: auto;
}


.card-img-top {
    /* width: 10%; */
    border-radius: 100%;
    margin: 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card {
    padding: 0;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

.card-title {
    font-weight: bold;
    font-size: 1em;

}

.card-link {
    text-decoration: none;
    outline: none;

    h6 {
        font-size: 1rem;
    }
}

.card-hover:hover {
    opacity: 0.7;
}

.subinfo-columns {

    column-width: 20rem;
    column-gap: 1rem;
    padding-right: 1rem;
}

.subinfo-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 1.5rem;
    break-inside: avoid;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    p {
        font-size: 0.9rem;
    }
}

.action {
    width: 100%;
    padding: 0;
    text-align: center;
    aspect-ratio: 1 / 1;
    max-width: 5rem;
    max-height: 5rem;
    background-color: #dee2e6;
    border-radius: 0.1rem;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.action:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

@media (max-width: 576px) {
    .action {
        max-width: 3rem;
        max-height: 3rem;
    }
}

.btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
}