/* Main Navigation */
.main-nav ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.main-nav ul li {
    font-weight: 600;
    padding-right: 1px;
}

.main-nav ul li a {
    text-decoration: none;
    color: rgb(37, 140, 201) !important;
}

.main-nav ul li a:hover {
    color: rgb(72, 1, 51) !important;
    text-decoration: solid;
    font-weight: lighter;

}

/* Right Navigation */
.right-nav ul {
    list-style-type: none;
    margin: 0;
}

.right-nav ul li {
    /* font-weight: 600; */
}

.right-nav ul li a {
    text-decoration: none;
    color: rgb(17, 77, 65) !important;
    font-size: 0.8rem;
}

.right-nav ul li a:hover {
    font-weight: bold;
}


/* General Body Styles */
body {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
}

/* Images */
body img {
    display: block;
    max-width: 100%;
    height: auto;
}